@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    background-color: #000;
    color: white;/*#00FFA3;*/
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevents scrolling at the document level */
}

#root {
    height: 100%;
}

.navbar{
    background-color: #222;
}

.wallet-adapter-button-trigger {
    background: rgb(100, 26, 230) !important;
    border-radius: 8px !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
}
.wallet-adapter-dropdown-list,
.wallet-adapter-button {
    font-family: inherit !important;
}

.controls-panel {
  padding: 16px;
  height: 100%;
  overflow-y: auto;
  background-color: #1a1a1a;
}

.resize-handle:hover {
  background-color: #9945FF !important;
  transition: background-color 0.2s;
}

.full-height-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    overflow: auto; /* Allow scrolling within content if needed */
    display: flex;
    flex-direction: column;
}

.graph-container {
    flex: 1;
    display: flex;
    min-height: 0; /* Important for Firefox */
}

input[type="text"]  {
    width: 100%;
    padding: 6px;
    background-color: #2A2A2A;
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
}

.react-datepicker-wrapper {
    width: 100%;
}